<html>
    <head>
        <title>Server demo - 404</title>
        <link rel="shortcut icon" type="image/x-icon" href="http://www.dailymotion.com/images/favicon.ico" />
        <link rel="stylesheet" href="/statics/css/common.css" type="text/css" />
    </head>
    <body>
        <div class="body_content">
            <h1><a href="/">Server demo</a> with <a href="http://nodejs.org/docs/v0.2.5/api.html" target="_blank">NodeJS</a></h1>

            <div class="main_content">
                <div class="_404">404</div>
            </div>
        </div>
    </body>
</html>