<html>
    <head>
        <title>Server demo</title>
        <link rel="shortcut icon" type="image/x-icon" href="http://www.dailymotion.com/images/favicon.ico" />
        <link rel="stylesheet" href="/statics/css/common.css" type="text/css" />
    </head>
    <body>
        <div class="body_content">
            <h1><a href="/">Server demo</a> with <a href="http://nodejs.org/api/" target="_blank">NodeJS</a></h1>

            <div class="main_content">
                <h2>page 2</h2>
                <p>
                    This is an advanced Server Demo.
                </p>
                <p>
                    Here is <a href="/other">an other page</a> and <a href="/last">another one</a>.
                </p>
            </div>
        </div>
    </body>
</html>